<table align="center">
    <form method="POST" action="home">
        <tr><td align="right">名前</td><td><input type="text" name="name"></td></tr>
        <tr><td align="right">性別</td><td> <label>男性<input type="radio" name="sex" value="M"></label><br>
                                            <label>女性<input type="radio" name="sex" value="F"></label></td></tr>
        <tr><td align="right">学校名</td><td><input type="text" name="school"></td></tr>
        <tr><td align="right">役職・立場</td><td><input type="text" name="post"></td></tr>
        <tr><td align="right" colspan="2"><input type="submit" value="認証"></td></tr>
    </form>
</table>